$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

%info-of-master{
	background-color: $marsh;
		padding: 30px 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include media ('<1280px') {
			padding: 20px 40px;
		}
		@include media ('<1200px') {
			padding: 20px 30px;
		}
		@include media ('<1024px') {
			padding: 60px 85px;
		}
		@include media ('<=768px') {
			padding: 50px 5%;
		}
}

body{
	background-color:#000001;
	&.locked{
		overflow: hidden;
	}
}
.wrapper{
	width:100%;
	max-width:1500px;
	margin:0 auto;
}
.container{
	width:100%;
	margin:0 auto;
}
.button{
	max-width:300px;
	width:100%;
	padding:17px 5px 20px;
	border:10px solid #000;
	@include media ('<=768px') {
		padding-top:10px;
		padding-bottom:10px;
		border:8px solid #000;
		font-size:$btn-font-size * 0.8;
		width:80%;
	}
	@include media ('<=480px') {
		padding-top:8px;
		padding-bottom:8px;
		border:6px solid #000;
		font-size:$btn-font-size * 0.6;
		width:70%;
	}
}
.form{
	.input{
		display: inline-block;
		width: 100%;
			&[value],
			&::placeholder{
				font-size: 11px;
				font-weight: 700;
				letter-spacing: 0.3px;
				color: #afaca5;
				text-transform: uppercase;
			}
	}
 }

	// start header
.header{
		background-image:url("../sourceimages/bg-01.jpg");
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
		@include media ('<1024px') {
			padding-bottom:20.8%;
		}
		@include media ('<600px') {
			padding-bottom:33.3333%;
			margin:40px 0 0;
		}
		&:before{
			content:'';
			position:fixed;
			z-index:3;
			top:0;
			left:0;
			width:100%;
			height:20px;
			background-color:#000001;
			opacity:0;
			@include media ('<600px') {
				height:40px;
				opacity:1;
			}
		}
		.header__content{
			width:100%;
			min-height:500px;
			@include media ('<1024px') {
				min-height:auto;
			}
		}
}
.header__nav{
	position:relative;
	z-index:2;
	@include media ('<600px') {
		position:fixed;
		top:-100%;
		left:0;
		width:100%;
		height:100%;
		background-color:#f9f9f9;
		transition:all 0.5s ease-in-out;
		overflow:auto;
		&.active{
			top:0;
		}
	}
	.header__list{
		display:flex;
		justify-content:center;
		align-items:center;
		padding:25px 20px;
		position:relative;
		z-index:3;
		@include media ('<600px') {
			flex-direction:column;
			padding:100px 20px 50px;
		}
		.header__item{
			list-style-type:none;
			margin:0 15px;
			@include media ('<768px') {
					margin:0 10px;
				}
				@include media ('<600px') {
					order:1;
					margin-bottom:10px;
				}
			&:nth-child(4){
				margin:0 40px;
				@include media ('<1024px') {
					margin:0 30px;
				}
				@include media ('<768px') {
					margin:0 15px;
				}
				@include media ('<600px') {
					order:0;
					margin-bottom:15px;
				}
			}
			.header__link{
				text-decoration:none;
				font-size:13px;
				text-transform:uppercase;
				color:#000;
				@include media ('<600px') {
					font-size:24px;
					line-height:28px;
					font-weight:700;
				}
				.header__logo{
					display:block;
					width:100%;
					max-width:260px;
					@include media ('<600px') {
						width:180px;
					}
				}
			}
		}
	}
}
.header__burger{
	display:none;
	width:20px;
	height:20px;
	position:relative;
	z-index:5;
	overflow:hidden;
	@include media ('<600px') {
		display:block;
		position:fixed;
		top:10px;
		right:10px;
		background-color:#f2efe6;
	}
}
	// end header

	// start main
	// about-us
.about-us__info{
	display:flex;
	justify-content:space-between;
	@include media ('<=768px') {
		flex-direction:column;
	}
}
.left-column{
	width:50%;
	@include media ('<=768px') {
		width:100%;
	}
}
.right-column{
	width:50%;
	@include media ('<=768px') {
		width:100%;
	}
}
.about-us__left-column{
	background:#bc9898 url("../sourceimages/bg-02.jpg") no-repeat center top / cover;
	min-height:500px;
	position:relative;
	@include media ('<1500px') {
		min-height:auto;
	}
	@include media ('<=768px') {
		padding-top:66%;
		background-size:100% auto;
	}
	.about-us__button{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
	}
}
.about-us__right-column{
	background-color: $light-marsh;
	padding:6% 8% 5% 6%;
	@include media ('<1024px') {
		padding:4% 6% 3% 4%;
	}
	@include media ('<900px') {
		padding:3% 5% 3% 3%;
	}
	@include media ('<=768px') {
		padding:10% 5% 8%;
	}
	.about-us__ico{
		text-align:center;
		padding-bottom:28px;
		@include media ('<1024px') {
			padding-bottom:20px;
		}
	}
	.about-us__subtitle{
		text-align:center;
		padding:0 0 20px;
	}
}

// gallery
.gallery{
	display:flex;
	flex-wrap:wrap;
	.gallery__item{
		width:16.6667%;
		@include media ('<=768px') {
			width:25%;
		}
		@include media ('<=480px') {
			width:50%;
		}
	}
}

// quote
.quote{
	background-image:url("../sourceimages/bg-03.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	min-height:350px;
	position:relative;
}
.quote__content{
	max-width:900px;
	width:90%;
	position:absolute;
	top:65%;
	left:50%;
	transform:translate(-50%, -50%);
	@include media ('<=480px') {
		top:60%;
	}
}
figure{
	blockquote{
		padding-bottom:43px;
		@include media ('<=480px') {
			padding-bottom:20px;
		}
		.quote__text{
			text-align:center;
			font-style:italic;
			font-size:24px;
			line-height:30px;
			font-weight:700;
			color:#fff;
			padding:0 10px;
			position:relative;
			@include media ('<=480px') {
				font-size:22px;
				line-height:28px;
			}
			@include media ('<=374px') {
				font-size:20px;
				line-height:26px;
			}
			&::before{
				content: open-quote;
				font-size:110px;
				position:absolute;
				top:-18px;
				left:-55px;
				@include media ('<=480px') {
					font-size:90px;
					top:-15px;
				}
				@include media ('<=374px') {
					font-size:70px;
					top:-10px;
				}
			}
			&::after{
				content: close-quote;
				font-size:110px;
				position:absolute;
				bottom:-54px;
				right:-35px;
				@include media ('<=480px') {
					font-size:90px;
					bottom:-40px;
				}
				@include media ('<=374px') {
					font-size:70px;
					bottom:-30px;
				}
			}
		}
	}
	.quote__sign{
		text-align:right;
		font-size:14px;
		font-style:italic;
		text-transform:uppercase;
		color:#fff;
		padding:0 10px 10px;
		@include media ('<=374px') {
			font-size:13px;
		}
	}
}

//team
.column{
	width: 33.333333%;

	&:not(last-child) {
		@include media ('<1024px') {
			width:50%;
		}
		@include media ('<=480px') {
			width:100%;
		}
	}
	&:last-child {
		@include media ('<1024px') {
			width:100%;
		}
	}
}
.master__name{
	text-align: center;
	padding-bottom: 32px;
	
	@include media ('<1280px') {
		padding-bottom: 15px;
	}
}
.master__info{
	font-family: $base-font-sans-serif;
	font-size: 14px;
	line-height: 1.2;
	padding-bottom: 26px;
	
	@include media ('<1280px') {
		padding-bottom: 15px;
	}
}
.list{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	@include media ('<1024px') {
		max-width: 400px;
		margin: 0 auto;
	}
	.list__item{
		@include media ('<1024px') {
			margin: 0 15px;
		}
		@include media ('<600px') {
			margin: 0 10px;
		}
		@include media ('<=375px') {
			margin: 0 5px;
		}
		.ico-facebook{
			width: 34px;
			height: 36px;
			transition:all 0.3s ease-in;
			
			@include media ('>=1024px') {
				&:hover{
					fill:#00cae5;
				}
			}
			@include media ('<1200px') {
				width: 30px;
				height: 32px;
			}
		}
		.ico-twitter{
			width: 32px;
			height: 32px;
			transition:all 0.3s ease-in;
			
			@include media ('>=1024px') {
				&:hover{
					fill:#00cae5;
				}
			}
			@include media ('<1200px') {
				width: 28px;
				height: 28px;
			}
		}
	}
}
//first-row
.first-three-columns{
	display: flex;
	justify-content: space-between;
	@include media ('<1024px') {
		flex-wrap: wrap;
	}
	.leftside{
		min-height: 500px;
		background-image: url("../sourceimages/bg-04.jpg");
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
		background-color: #cec8b5;

		position: relative;

			@include media ('<1500px') {
				min-height: auto;
			}
			@include media ('<=480px') {
				background-size: cover;
				padding-top: 40%;
				padding-bottom: 40%;
			}
			.leftside__button{
				position: absolute;
				top:50%;
				left:50%;
				transform:translate(-50%, -50%);
				@include media ('<=480px') {
					position: relative;
				}
			}
	}
	.middle{
		img{
			width: 100%;
		}
	}
	.rightside{
		@extend %info-of-master;
	}
}
// second-row
.second-three-columns{
	display: flex;
	justify-content: space-between;
	@include media ('<1024px') {
		flex-wrap: wrap;
	}
	.leftside{
		img{
			width: 100%;
		}
	}
	.middle{
		@extend %info-of-master;
		position: relative;
		@include media ('<1024px') {
			order: 2;
			flex: 1;
		}
			&::before{
				content: '';
				position: absolute;
				top: 22%;
				left: -25px;
				// left arrow
				border-right: 25px solid $marsh;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				@include media ('<1024px') {
					left: 10%;
					top: -25px;
					border-top: none;
					border-bottom: 25px solid #cec8b5;
					border-right: 15px solid transparent;
					border-left: 15px solid transparent;
				}
				@include media ('<=480px') {
					width: 0;
					height: 0;
					display: none;
				}
			}
		}
	.rightside{
		@extend %info-of-master;
		background-color: $light-marsh;
		@include media ('<1024px') {
			width: 50%;
		}
		@include media ('<=768px') {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		@include media ('<=480px') {
			order: 3;
			flex: 1;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.rightside__title{
			font-size: 14px;
			letter-spacing: -0.3px;
			text-transform: uppercase;
			margin: 0;
		}
		.rightside__text{
			font-size: 13px;
			line-height: 1;
			letter-spacing: -0.5px;
			text-transform: uppercase;
			padding-bottom: 40px;
			margin: 0;
			@include media ('<1200px') {
				padding-bottom: 25px;
			}
			@include media ('<=768px') {
				padding-bottom: 20px;
			}
		}
		.rightside__form{
			.rightside__email,
			.rightside__submit{
				height: 40px;
				padding: 5px 20px;
			}
			.rightside__email{
				margin-bottom: 20px;
			}
			.rightside__submit{
				background-color: $dark-marsh;
				color: $white;
				transition: all 0.3s ease-in;
				&:hover{
					opacity: 0.9;
				}
			}
		}
	}	
}

//twitter-block
.tw-block {
	background-image: url("../sourceimages/bg-05.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 350px;
	background-size: cover;
	display: flex;
	align-items: center;

	@include media ('<1200px') {
		min-height: 300px;
	}
	@include media ('<1024px') {
		min-height: 250px;
	}
	@include media ('<=768px') {
		min-height: 200px;
	}
	@include media ('<=600px') {
		height: auto;
	}
	.tw-block__content {	
		max-width: 900px;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		@include media ('<=600px') {
			padding: 40px 0 20px;
		}

		.ico-twitter {
			width: 50px;
			height: 50px;
			fill: $marsh;
			transition: all 0.3s ease-in;
			
			@include media ('>=1024px') {
				&:hover{
					fill:#00cae5;
				}
			}
			@include media ('<=768px') {
				width: 40px;
				height: 40px;
			}
		}

		.tw-block__text {
			padding: 20px 0;
			font-style: italic;
			font-size: 24px;
			line-height: 30px;
			font-weight: 700;
			color: $light-marsh;
			text-align: left;
			margin: 0;
			@include media ('<=768px') {
				padding: 10px 0;
				font-size: 22px;
				line-height: 28px;
			}
			@include media ('<=374px') {
				font-size: 20px;
				line-height: 26px;
			}
		}

	}
}

//photos block-two
.block-two__gallery {
	.block-two__item {
		flex-basis: 20%;
		position: relative;

			&::after {
				content: ' ';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-color: #a59f85;
				transition: all 0.3s ease-in;
				@include media ('<1024px') {
						display: none;
					}
			}

			.block-two__icon {
				opacity: 0;
				visibility: hidden;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				transition: all 0.3s ease-in;
				z-index: 3;

				p {
					padding-bottom: 30px;
				}

				a {
					display: inline-block;
					margin-left: 20px;
					margin-right: 20px;
					transition: all 0.2s ease-in;

					@include media ('>=1024px') {
						&:hover {
							transform: scale(1.1);
						}
					}

					@include media ('<=1200px') {
						margin-left: 15px;
						margin-right: 15px;
					}

				}

			}

			@include media ('>=1024px') {
				&:hover {

					&::after{
						opacity: 0.6;
					}
	
					.block-two__icon {
						opacity: 1;
						visibility: visible;
					}
	
				}
			}
			@include media ('<=768px') {
				flex-basis: 33.333333%;
			}
			@include media ('<=480px') {
				flex-basis: 50%;
			}
	}
}







	// end main}}
